@import './main.css';
@import './base.css';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
/* Tabelas e Formulário*/
h2 {
  color: #333;
}


table#automovel {
  border: 1px solid black;
  color: #333;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}
table#automovel td,th{
  border: 1px solid black;
  padding: 8px;
  padding-top: 0%;
  text-align: center;
  
}  
th{
  background-color: rgb(175, 175, 175);
}


section#menu{
  margin-inline: 8px;
}

form#form-adiciona {
  color: black;
}
 